Show Page

<p><%= @picture[:title] %>, <%= @picture[:artist] %></p>
<img src="<%= @picture[:url] %>">


<%#link_to("Index Page", "/pictures", photos_path) %>
<%#params[:id].to_i %>
<!-- <br><br> -->
<%#= @pic[params[:id].to_i] %>

